*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container{
    background-color: rgb(196, 152, 216);
    width: 420px;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.todo-input{
    display: flex;
    margin-bottom: 10px;
    gap:10px;
}
#todoText{
    flex:1;
    padding:10px;
    font-size: 16px;
}
#add-btn{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    background-color: rgb(47, 255, 92);
    border: none;
}
#todo-list{
    list-style: none;
}

.todo-item{
    padding: 12px;
    margin-bottom: 6px;
    background-color: #eee;
    border-radius: 4px;
    font-size: 16px;
}
.todo-item button {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.todo-item span {
  display: flex;
  align-items: center;
}
.todo-item button:first-of-type {
  background-color: #ffcc00; /* Edit */
  margin-left: 5px;
  margin-right: 10px;
}

.todo-item button:last-of-type {
  background-color: #ff4d4d; /* Delete */
  color: white;
}

.todo-container h1 {
  font-size: 26px;
  margin-bottom: 16px;
}
